@page "/admin/add-role"
@model App.Admin.Role.CreateModel
@{
    ViewData["Title"] = "Thêm mới role";
}
<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>
<hr>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Input.Name" class="control-label"></label>
                <input asp-for="@Model.Input.Name" class="form-control" />
                <span asp-validation-for="@Model.Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a class ="btn btn-info" asp-page="./Index">Danh sách các Role</a>
            </div>
        </form>
    </div>
</div>

@* validate dữ liệu , file này trong page/shared *@
@* tác dụng là : mình ko cần ấn submit, chỉ cần nhập vào ô là nó hiện ngay validate lỗi ở dưới ô nhập *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}